*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "roboto", sans-serif;
}
header{
    padding: 20px 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
header .logo img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border: 3px solid orange;
}
input[type="search"]{
    padding: 10px 15px;
    width: 300px;
    border-radius: 100px;
    font-size: 16px;
    
}
input[type="search"]::placeholder{
    font-size: 16px;
    color: orange;
}
input[type="search"]:focus{
    outline: 2px solid orange;
}
.nav-items{
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-items li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
}
.nav-items li a:hover{
    color: orange;
}
.hero{
    /* width: 700px; */
    background-image: url(furniture2.avif);
    color: #fff;
    background-position: center;
    background-size: cover;
    padding: 100px 70px;
    width: 100%;
    height: 600px;
    border-radius: 8px;
}
.hero h2{
    font-size: 60px;
    /* margin-bottom: 10px; */
    text-transform: capitalize;
    font-weight: 800;
}
span{
    color: orange;
}
.hero p{
    font-size: 20px;
    padding: 20px 0;
    line-height: 1.5;
    width: 500px;
}
.btn{
    background-color: orange;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    font-weight: 600;

    &:hover{
        background-color: black;
    }
    &:active{
        background-color: rgb(196, 157, 64);
    }
}
.other{
    background-color: black;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    font-weight: 600;
    &:hover{
        background-color: orange;
    }
    &:active{
        background-color: rgb(196, 157, 64);
    }

}

.main-child{
    margin: 0 30px;
    padding: 0 70px;
    margin-top: 0;
    background-color: rgb(15, 12, 12);
    

}


.main-title{
    display: flex;
    background-color: orange;
    padding: 5px 20px;
    justify-content: space-between;
    font-weight: 550;
    align-items: center;
}
.other-btn{
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 550;
    text-transform: capitalize;
    &:hover{
        background-color: rgb(155, 146, 129);
    }
    &:active{
        transform: scale(0.80);
        background-color: orangered;
    }
}
.main-heading{
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    /* align-items: center; */
}
.main-heading h2{
    text-transform: capitalize;
    font-size: 39px;
    font-weight: 600;
    border-bottom: 3px solid orange;
}
.main-heading p{
    text-transform: capitalize;
    color: gray;
    width: 600px;
    line-height: 1.5;
}
.card img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.card{
    display: flex;
    background-color: #fff;
    width: 600px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(220, 216, 216, 0.3);

    &:hover{
        transform: scale(1.12);
        box-shadow: 4px 4px 20px rgba(220, 216, 216, 0.5);
        transition: all 0.3s ease-in-out;
    }
}
.card-parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 35px;
}
.card-parent h3{
    font-size: 22px;
    font-weight: 650;
    padding: 10px 0;
    text-transform: capitalize;
}
.txt{
    padding: 20px;
}
.product{
    padding: 30px;
}
.product h2{
    font-size: 36px;
    font-weight: 650;
    text-transform: capitalize;
    border-bottom: 5px solid orange;
    text-align: center;
    padding-bottom: 35px;
    
}
.product img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}
.product-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 35px;
    justify-items: center;
    
}
.product-list{
    text-align: center;
    
}
.product-btn{
    background-color: #fff;
    color: #000;
    border: 2px solid orange;
    padding: 15px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 550;
    text-transform: capitalize;
    margin-top: 15px;
    display: flex;
    justify-self: center;
    align-items: center;
    margin-block: 40px;
    &:hover{
        background-color: black;
        color: #fff;
    }
    &:active{
        transform: scale(0.90);
        background-color: orange;
        transition: all 0.2s ease-in-out;
    }
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    background-color: rgb(187, 181, 169);
    margin: 0px 30px;
}
.content-txt{
    padding: 0 30px;
}
.content-txt h2{
    font-size: 39px;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.cab{
    color: orange;
    text-shadow:2px 2px 12px rgba(5, 5, 5, 0.9);
}
.content-txt p{
    font-size: 18px;
    line-height: 1.6;
    font-weight: 550;
    margin-bottom: 30px;
}
.conent img{
    /* width: 800px; */
    object-fit: cover;
    height: 500px;
}
.content-btn{
    background-color: orange;
    color: #000;
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 550;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 25px;
    &:hover{
        background-color: rgb(95, 87, 71);
        color: #fff;
    }
    &:active{
        background-color: rgb(196, 157, 64);
    }
}
.fa-angle-left, .fa-angle-right{
    font-size: 35px;
    background-color: orange;
    width: 60px;
    height: 60px;
    padding: 7px;
    border-radius: 100px;
    align-content: center;
    text-align: center;
    cursor: pointer;
    &:hover{
        background-color: black;
        color: #fff;
        width: 62px;    
        height: 62px;    
    }
    &:active{
        background-color: rgb(196, 157, 64);
    }
}
.fa-angle-left{
    background-color: rgb(208, 197, 197);
}
.choose-us{
    padding: 50px 30px;
    margin: 50px 30px;
}
.choose-txt{
    /* text-align: center; */
    margin-bottom: 40px;
    width: 600px;

}
.choose-txt h2{
    font-size: 36px;
    font-weight: 800;
    text-transform: capitalize;
}
.choose-items h1{
    color: orange;
    font-size: 70px;
    margin-bottom: 25px;
}
.choose-txt p{
    font-size: 18px;
    line-height: 1.6;
    padding: 20px 0;
    font-weight: 550;
}
.choose-items p{
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 15px;
}
.choose-card{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.choose-items{
    background-color: #fff;
    padding: 30px;

    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 4px 4px 12px rgba(12, 12, 12, 0.3);
    
    &:hover{
        transform: scale(1.10);
        transition: all 0.3s ease-in-out;
    }
}

.cushion{
    background-image: url(./cushion.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    border-radius: 8px;
    margin: 50px 30px;
    color: #000;
    padding: 45px 40px;
    justify-items: center;
    text-align: center;
}
.off{
    background-color: #fff;
    color: orange;
    width: 80px;
    padding: 10px;
    font-weight: 600;
    border-radius: 50px;
    border: 1px solid gray;
}
.cushion-txt{
    width: 600px;

}
.cush{
    text-shadow: 4px 4px 12px rgba(12, 12, 12, 0.9);
}
.cushion-txt h2{
    font-size: 48px;
    font-weight: 800;
    text-transform: capitalize;
    padding: 30px;
}
.Experience{
    font-size: 18px;
    line-height: 1.6;
    font-weight: 550;
    padding-bottom: 30px;
}
.cushion-btn{
    background-color: orange;
    color: #000;
    border: 1px solid gray;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 550;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
    &:hover{
        background-color: rgb(95, 87, 71);
        color: #fff;
    }
    &:active{
        background-color: rgb(196, 157, 64);
    }
}
footer{
    background-color: rgb(15, 12, 12);
    
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 50px 30px;
    margin-top: 50px;
}
.footer-child1{
    width: 300px;
    /* text-align: center; */
    justify-items: center;

}
.footer-child1 h2{
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 20px;
    color: orange;
    width: 200px;
    justify-self: left;

}
.footer-child1 p{
    font-size: 13px;
    line-height: 1.6;
    color: gray;
}
.footer-child2 h4,
.footer-child3 h4,
.footer-child4 h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.home{
    color: gray;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
footer a{
    text-decoration: none;
    color: gray;
    font-size: 16px;
    margin-bottom: 10px;
    &:hover{
        color: orange;
        border-bottom: 1px solid orange;
    }
}
li{
    list-style: none;
    margin-bottom: 10px;
 
}
.footer-child3 p{
    font-size: 16px;
    margin-bottom: 10px;
}
.social-icons a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    margin-right: 15px;
    &:hover{
        color: orange;
    }
}
.fa-user{
    font-size: 25px;
    cursor: pointer;
    /* margin-left: 20px; */
    background-color: #fff;
    padding: 10px;
    border-radius: 100px;
    color: gray;
    box-shadow: 3px 3px 8px rgba(12, 12, 12, 0.3);
    &:hover{
        color: orange;
    }
}
.fa-cart-shopping{
    font-size: 25px;
    cursor: pointer;
    margin-left: 5px;
    background-color: #fff;
    padding:10px;
    border-radius: 100px;
    color: gray;
    box-shadow: 3px 3px 8px rgba(12, 12, 12, 0.3);
    &:hover{
        color: orange;
    }
}
